*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#ff7f50;
    --white-color:#fff;
    --secondary-color:#800000;
    --font-family:'Akaya Telivigala', cursive;
    --error-light:rgba(255, 0, 0, 0.5);
    --success-light: rgba(0, 128, 0, 0.5);
}

.lilac-navbar{
    position: fixed;
}

/* HOMEPAGE STYLES */

.main-heading{
    font-family: var(--font-family);
    color:var(--secondary-color);
    font-size: 8rem;
}

.quiz-logo {
    color:var(--secondary-color);
    font-family:var(--font-family);
    font-size: 2rem;
}

.main-container{
    margin-top: 7vh;
    height: 100%;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.categories{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-badge{
    background-color:var(--primary-color);
    color: var(--secondary-color);
}

.td-none{
    text-decoration: none;
    color:inherit;
}